@model FNet.Supply.Models.F0Model
<style type="text/css">
    #supply_views_f0_index {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

        #supply_views_f0_index div.section-header {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 20px;
            overflow: hidden;
            padding: 2px;
            text-align: center;
            font-weight: bold;
            font-size: 12pt;
            border-bottom: 2px solid green;
        }

        #supply_views_f0_index div.section-filter {
            position: absolute;
            left: 0;
            width: 236px;
            top: 26px;
            height: 300px;
            padding: 2px;
            overflow: auto;
            border-bottom: 2px solid green;
        }

        #supply_views_f0_index div.section-command {
            position: absolute;
            left: 0;
            width: 236px;
            top: 332px;
            bottom: 0;
            padding: 2px;
            overflow: auto;
        }

        #supply_views_f0_index div.section-filtered_data {
            border-left: 2px solid green;
            border-bottom: 2px solid green;
            position: absolute;
            left: 240px;
            top: 26px;
            right: 0;
            bottom: 320px;
            overflow: auto;
        }

        #supply_views_f0_index div.section-detail {
            border-left: 2px solid green;
            position: absolute;
            left: 240px;
            right: 0;
            bottom: 0;
            height: 320px;
            background-color: #bbffbb;
            overflow: hidden;
        }
</style>
<div id="supply_views_f0_index">
    <div class="section-header"><span>Снабжение (закупки товаров)</span></div>
    <div class="section-filter">
        @RenderPage("~/Views/F0/Filter.cshtml", Model)
    </div>
    <div class="section-command">
        @RenderPage("~/Views/F0/Command.cshtml")
    </div>
    <div class="section-filtered_data">
        @RenderPage("~/Views/F0/Table.cshtml", Model)
    </div>
    <div class="section-detail">
        <!-- RenderPage("~/Views/F0/АтрибутыЗаказа.cshtml") -->
    </div>
    <div class="section-dropdowns">
        @RenderPage("~/Views/F0/СписокПоставщиков.cshtml", Model)
        @RenderPage("~/Views/F0/СписокСостоянийЗаказа.cshtml", Model)
    </div>
</div>
<script type="text/javascript">
    var SupplyViewsF0Index = (function () {
        let mainDiv = $('#supply_views_f0_index');
        let filteredData = mainDiv.find('div.section-filtered_data');
        let detail = mainDiv.find('div.section-detail');
        //let order = detail.find('div.order');
        let dds = mainDiv.find('div.section-dropdowns');
        let ddsp = dds.find('.supply_views_f0_список_поставщиков');
        let ddss = dds.find('.supply_views_f0_список_состояний_заказа');
        let selectedInput = null;
        let selectedRows = null;
        let rqp = {
            SessionId: Nskd.Server.SessionId
        };
        return {
            selectButtonClick: function (span) { // в файле TableFieldSelect.cshtml
                let s = $(span);
                let d = s.closest('div');
                selectedInput = d.find('input');
                if (selectedInput.attr('name') == 'заказ_поставщик') {
                    ddsp.css('left', s.position().left);
                    ddsp.css('top', s.position().top + 48);
                    ddsp.mouseleave(function () { ddsp.off(); ddsp.hide(); });
                    ddsp.show();
                }
                if (selectedInput.attr('name') == 'заказ_состояние') {
                    ddss.css('left', s.position().left);
                    ddss.css('top', s.position().top + 48);
                    ddss.mouseleave(function () { ddss.off(); ddss.hide(); });
                    ddss.show();
                }
            },
            ddSelect: function (tr) { // в файлах списков
                let row = $(tr);
                if (selectedInput) {
                    let id = row.attr('data-id');
                    let name = row.find('td').text();
                    selectedInput.attr('data-modified', '1');
                    selectedInput.attr('data-id', id);
                    selectedInput.val(name);
                    selectedInput = null;
                }
                ddsp.off().hide();
                ddss.off().hide();
            },
            save: function (element) {
                let saveButton = $(element);
                saveButton.prop('disabled', true);
                setInterval(function () { saveButton.prop('disabled', false); }, 1000);
                let inputs = filteredData.find('input[data-modified="1"]');
                //console.log(inputs);
                if (inputs.length > 0) {
                    rqp.Command = 'Supply.F0.SetOrderAttr';
                    rqp.Parameters = [];
                    inputs.each(function (index, element) {
                        let e = $(element);
                        let tr = e.closest('tr');
                        if (e.attr('name') == 'заказ_поставщик') {
                            let v = {
                                order_uid: tr.attr('data-order_uid'),
                                supplier_uid: e.attr('data-id'),
                                supplier_name: e.val()
                            };
                            rqp.Parameters.push({ Name: 'SetSupplierForOrder', Value: v });
                        }
                        if (e.attr('name') == 'заказ_состояние') {
                            let v = {
                                order_uid: tr.attr('data-order_uid'),
                                state_uid: e.attr('data-id'),
                                state_name: e.val()
                            };
                            rqp.Parameters.push({ Name: 'SetStateForOrder', Value: v });
                        }
                    });
                    console.log(rqp);
                    filteredData.html('');
                    detail.html('');
                    Nskd.Http.post({
                        url: '/supply/f0',
                        rqp: rqp,
                        done: function (data) {
                            filteredData.html(data);
                        }
                    });
                }
            },
            setSupplierStart: function () {
                selectedRows = filteredData.find('input[type="checkbox"][name="выбрано"]:checked').closest('tr');
                if (!selectedRows.length) {
                    selectedRows = null;
                    alert('Нет выбранных строк.');
                    return;
                }
                SupplyViewsF0Command.showModal();
                //alert('SupplyViewsF0Index.setSupplier()');
            },
            setSupplierFinish: function (supplier_uid, supplier_name) {
                let value = {
                    uids: [],
                    supplier_uid: supplier_uid,
                    supplier_name: supplier_name
                };
                selectedRows.each(function () {
                    value.uids.push($(this).attr('data-uid'));
                });
                //console.log(value);
                rqp.Command = 'Supply.F0.SetSupplier';
                if (SupplyF0Filter) {
                    rqp.Parameters = SupplyF0Filter.getPars();
                } else {
                    rqp.Parameters = [];
                }
                rqp.Parameters.push({ Name: 'SetSupplier', Value: value });
                //console.log(rqp);
                filteredData.html('');
                detail.html('');
                Nskd.Http.post({
                    url: '/supply/f0/setsupplier',
                    rqp: rqp,
                    done: function (data) {
                        filteredData.html(data);
                    }
                });
            },
            // applyFilter is call from Filter.cshtml
            applyFilter: function (pars) {
                //console.log(pars);
                rqp.Command = 'Supply.F0.ApplyFilter';
                rqp.Parameters = pars;
                filteredData.html('');
                detail.html('');
                Nskd.Http.post({
                    url: '/supply/f0/applyfilter',
                    rqp: rqp,
                    done: function (data) {
                        filteredData.html(data);
                    }
                });
            },
            // showOrderDetail is call from Table.cshtml
            showOrderDetail: function (td) {
                let tr = $(td).parent();
                let order_uid = tr.attr('data-order_uid');
                rqp.Command = 'Supply.F0.GetOrderDetail';
                rqp.Parameters = [{ Name: 'order_uid', Value: order_uid }];
                //console.log(rqp);
                detail.html('');
                Nskd.Http.post({
                    url: '/supply/f0/getorderdetail',
                    rqp: rqp,
                    done: function (data) {
                        detail.html(data);
                    }
                });
            },
            showPriceDetail: function (td) {
                let tr = $(td).parent();
                let uid = tr.attr('data-uid');
                rqp.Command = 'Supply.F0.GetPriceDetail';
                rqp.Parameters = [{ Name: 'uid', Value: uid }];
                //console.log(rqp);
                detail.html('');
                Nskd.Http.post({
                    url: '/supply/f0/getpricedetail',
                    rqp: rqp,
                    done: function (data) {
                        detail.html(data);
                    }
                });
            }
        };
    })();
</script>