@using FNet.Supply.Models
@model F0Model
<style type="text/css">
    #supply_views_f0_table table.journal tr {
        border-left: 1px solid black;
    }

    #supply_views_f0_table table.journal th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
        font-weight: bold;
    }

    #supply_views_f0_table table.journal td {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
    }
</style>
<div id="supply_views_f0_table" style="width: 100%;">
    @if (Model != null && Model.Data != null)
    {
        F0Model.FilteredData.ItemArray prevRow = null;
        F0Model.FilteredData.ItemArray currRow = null;
        <table class="journal" style="margin: 6px;">
            <tr>
                <th>Х</th> <!-- 01 -->
                <th>№ наш</th> <!-- 02 -->
                <th>Поставщик</th> <!-- 03 -->
                <th>№ их</th> <!-- 04 -->
                <th>Состояние заказа</th> <!-- 05 -->
                <th>Примечание</th> <!-- 06 -->
                <th colspan="5"></th> <!-- 07-11 -->
            </tr>
            <tr>
                <th></th> <!-- 01 -->
                <th>V</th> <!-- 02 -->
                <th colspan="4">Товар</th> <!-- 03-06 -->
                <th>Цена (т)</th> <!-- 07 -->
                <th>Кол-во (т)</th> <!-- 08 -->
                <th>Срок (т)</th> <!-- 09 -->
                <th>Менеджер</th> <!-- 10 -->
                <th>Спецификация</th> <!-- 11 -->
            </tr>
            @for (Int32 i = 0; i < Model.Data.RowsCount; i++)
            {
                prevRow = currRow;
                currRow = Model.Data[i];
                if (prevRow == null || prevRow.заказ != currRow.заказ)
                {
                    <tr style="background-color: #ffff88" data-goods_uid="@currRow.товар" data-order_uid="@currRow.заказ">
                        @if (currRow.заказ_обработано == "True")
                        {
                            <td style="border-right: none;"><input type="checkbox" name="обработано" data-modified="0" checked="checked" /></td> <!-- 01 -->
                        }
                        else
                        {
                            <td style="border-right: none;"><input type="checkbox" name="обработано" data-modified="0" /></td> <!-- 01 -->
                        }
                        <td style="text-align: right;">@currRow.заказ_номер</td> <!-- 02 -->
                        <td>
                            @RenderPage("~/Views/F0/TableFieldSelect.cshtml", new { CurrRow = currRow, IdField = "заказ_поставщик", NameField = "заказ_поставщик_наименование" })
                        </td> <!-- 03 -->
                        <td onclick="SupplyViewsF0Index.showOrderDetail(this);">@currRow.заказ_номер_их</td> <!-- 04 -->
                        <td>
                            @RenderPage("~/Views/F0/TableFieldSelect.cshtml", new { CurrRow = currRow, IdField = "заказ_состояние", NameField = "заказ_состояние_наименование" })
                        </td> <!-- 05 -->
                        <td>@currRow.заказ_примечание</td> <!-- 06 -->
                        <td colspan="5"></td> <!-- 07-11 -->
                    </tr>
                }
                <tr data-goods_uid="@currRow.товар">
                    <td style="border-top: none; border-right: none;"></td> <!-- 01 -->
                    <td style="border-top: none;"><input type="checkbox" name="выбрано" data-modified="0" /></td> <!-- 02 -->
                    <td colspan="4">@currRow.товар_описание</td> <!-- 03-06 -->
                    <td onclick="SupplyViewsF0Index.showPriceDetail(this);">xxx,xx</td> <!-- 07 -->
                    <td onclick="SupplyViewsF0Index.showPriceDetail(this);">xxx</td> <!-- 08 -->
                    <td onclick="SupplyViewsF0Index.showPriceDetail(this);">xx.xx</td> <!-- 09 -->
                    <td>@currRow.товар_спецификация_менеджер</td> <!-- 10 -->
                    <td>@currRow.товар_спецификация_номер</td> <!-- 11 -->
                </tr>
            }
            <tr style="border: 1px solid black"></tr>
        </table>
    }
</div>
<script type="text/javascript">
    var SupplyViewsF0Table = (function () {
        let mainDiv = $('#supply_views_f0_table');
        mainDiv.find('input[type="checkbox"]').click(function () {
            $(this).attr('data-modified', '1');
        });
        return {
        };
    })();
</script>
