@using FNet.Supply.Models
@model F0Model
<style type="text/css">
    #supply_views_f0_table table.journal tr {
        border-left: 1px solid black;
    }

    #supply_views_f0_table table.journal th {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
    }

    #supply_views_f0_table table.journal td {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
    }

    #supply_views_f0_table table.journal tr.table-head-row {
        font-weight: bold;
    }

    #supply_views_f0_table div.список_поставщиков table {
        width: 100%;
    }

    #supply_views_f0_table div.список_поставщиков tr:hover {
        background-color: #bbffbb;
    }

    #supply_views_f0_table div.список_поставщиков td {
        padding: 2px;
    }

    #supply_views_f0_table div.состояния_заказа table {
        width: 100%;
    }

    #supply_views_f0_table div.состояния_заказа tr:hover {
        background-color: #bbffbb;
    }

    #supply_views_f0_table div.состояния_заказа td {
        padding: 2px;
    }
</style>
<div id="supply_views_f0_table" style="width: 100%;">
    @if (Model != null && Model.Data != null)
    {
        F0Model.FilteredData.ItemArray prevRow = null;
        F0Model.FilteredData.ItemArray currRow = null;
        <table class="journal" style="margin: 6px;">
            <tr class="table-head-row">
                <th style="display: none">uid</th>
                <th style="display: none">id</th>
                <th>Х</th>
                <th style="display: none">товар</th>
                <th>Товар</th>
                <th>Менеджер</th>
                <th>Спецификация</th>
                <th style="display: none">поставщик</th>
                <th>Поставщик</th>
                <th style="display: none">состояние_заказа</th>
                <th>Состояние заказа</th>
                <th>Примечание</th>
            </tr>
            @for (Int32 i = 0; i < Model.Data.RowsCount; i++)
            {
                prevRow = currRow;
                currRow = Model.Data[i];
                <tr class="table-body-row" data-uid="@currRow.uid">
                    <td style="display: none">@currRow.uid</td>
                    <td style="display: none">@currRow.id</td>
                    @if (currRow.обработано == "True")
                    {
                        <td><input type="checkbox" name="обработано" data-modified="0" checked="checked" /></td>
                    }
                    else
                    {
                        <td><input type="checkbox" name="обработано" data-modified="0" /></td>
                    }
                    <td style="display: none">@currRow.товар</td>
                    <td>@currRow.товар_описание</td>
                    <td>@currRow.товар_менеджер</td>
                    <td>@currRow.товар_спецификация_id</td>
                    <td style="display: none">@currRow.поставщик</td>
                    <td>
                        @RenderPage("~/Views/F0/TableFieldSelect.cshtml", new { CurrRow = currRow, IdField = "поставщик", NameField = "поставщик_наименование" })
                    </td>
                    <td style="display: none">@currRow.состояние_заказа</td>
                    <td>
                        @RenderPage("~/Views/F0/TableFieldSelect.cshtml", new { CurrRow = currRow, IdField = "состояние_заказа", NameField = "состояние_заказа_наименование" })
                    </td>
                    <td>@currRow.примечание</td>
                </tr>

                <!--
                        if (currRow.разрешено == "True")
                        {
                            <td><input type="checkbox" name="разрешено" checked="checked" data-modified="0" /></td>
                        }
                        else
                        {
                            <td><input type="checkbox" name="разрешено" data-modified="0" /></td>
                        }
                        <td>currRow.дата</td>
                        <td>currRow.менеджер</td>
                        <td>currRow.аукцион</td>
                        <td>currRow.спецификация</td>
                        <td>currRow.товар</td>
                        <td style="text-align: right">currRow.количество</td>
                    }
                    else
                    {
                        if (currRow.обработано == "True")
                        {
                            <td style="border-top: none;"></td>
                        }
                        else
                        {
                            <td style="border-top: none;"></td>
                        }
                        if (currRow.разрешено == "True")
                        {
                            <td style="border-top: none;"></td>
                        }
                        else
                        {
                            <td style="border-top: none;"></td>
                        }
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td style="border-top: none;"></td>
                        <td>currRow.товар</td>
                        <td style="text-align: right">currRow.количество</td>
                    }
                -->
            }
            <tr style="border: 1px solid black"></tr>
        </table>
        <div class="список_поставщиков"
             style="display: none; border: 1px solid black; width: 300px; position: absolute; left: 0; top: 0; background-color: #ffffff;">
            <table><tr><td style="text-align: right;" onclick="$(this).closest('div').off().hide();">X</td></tr></table>
            <table>
                @foreach (System.Data.DataRow row in Model.Поставщики.Rows)
                {
                    <tr data-id="@row["uid"]" onclick="SupplyViewsF0Table.ddSelect(this);">
                        <td>@row["наименование"]</td>
                    </tr>
                }
            </table>
        </div>
        <div class="состояния_заказа"
             style="display: none; border: 1px solid black; width: 300px; position: absolute; left: 0; top: 0; background-color: #ffffff;">
            <table><tr><td style="text-align: right;" onclick="$(this).closest('div').off().hide();">X</td></tr></table>
            <table>
                @foreach (System.Data.DataRow row in Model.СостоянияЗаказа.Rows)
                {
                    <tr data-id="@row["uid"]" onclick="SupplyViewsF0Table.ddSelect(this);">
                        <td>@row["наименование"]</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
<script type="text/javascript">
    var SupplyViewsF0Table = (function () {
        let mainDiv = $('#supply_views_f0_table');
        let selectedInput = null;
        let sp = mainDiv.find('div.список_поставщиков');
        let s = mainDiv.find('div.состояния_заказа');
        return {
            selectButtonClick: function (td, f) { // в файле TableFieldSelect.cshtml
                let e = $(td);
                let table = e.closest('table');
                selectedInput = table.find('input');
                if (f == 'поставщик') {
                    sp.css('left', e.position().left - 200);
                    sp.css('top', e.position().top + 20);
                    sp.mouseleave(function () { sp.off(); sp.hide(); });
                    sp.show();
                }
                if (f == 'состояние_заказа') {
                    s.css('left', e.position().left - 200);
                    s.css('top', e.position().top + 20);
                    s.mouseleave(function () { s.off(); s.hide(); });
                    s.show();
                }
            },
            ddSelect: function (tr) {
                let row = $(tr);
                if (selectedInput) {
                    let id = row.attr('data-id');
                    let name = row.find('td').text();
                    selectedInput.attr('data-modified', '1');
                    selectedInput.attr('data-id', id);
                    selectedInput.val(name);
                    selectedInput = null;
                }
                sp.off().hide();
                s.off().hide();
            }
        };
    })();
</script>
