@using FNet.Supply.Models
@model F0Model
<style type="text/css">
    #supply_views_f0_table table.journal tr {
        border-left: 1px solid black;
    }

        #supply_views_f0_table table.journal tr.order-info {
            background-color: #ffff88;
        }

        #supply_views_f0_table table.journal tr.selected {
            background-color: #bbffbb;
        }

        #supply_views_f0_table table.journal tr:hover {
            background-color: #ddffdd;
        }

    #supply_views_f0_table table.journal th {
        border: 1px solid black;
        padding: 2px;
        font-weight: bold;
    }

    #supply_views_f0_table table.journal td {
        border-top: 1px solid black;
        border-right: 1px solid black;
        padding: 2px;
    }
</style>
<div id="supply_views_f0_table" style="width: 100%;">
    @if (Model != null && Model.Data != null)
    {
        <table class="journal" style="margin: 6px;">
            <tr>
                <th>Х</th> <!-- 01 -->
                <th>№ наш</th> <!-- 02 -->
                <th>Поставщик</th> <!-- 03 -->
                <th>№ их</th> <!-- 04 -->
                <th>Состояние заказа</th> <!-- 05 -->
                <th colspan="8">Примечание</th> <!-- 06-13 -->
            </tr>
            <tr>
                <th></th> <!-- 01 -->
                <th>V</th> <!-- 02 -->
                <th colspan="4">Товар</th> <!-- 03-06 -->
                <th>Цена (т)</th> <!-- 07 -->
                <th>Кол-во (т)</th> <!-- 08 -->
                <th>Срок (т)</th> <!-- 09 -->
                <th>Менеджер</th> <!-- 10 -->
                <th>Аукцион</th> <!-- 11 -->
                <th title="дата поставки к нам на склад по спецификации">Дата</th> <!-- 12 -->
                <th>Примечание</th> <!-- 13 -->
            </tr>
            @for (int tri = 0; tri < Model.Data.Таблица.RowsCount; tri++)
            {
                var tRow = Model.Data.Таблица[tri];
                <tr class="goods-info not-in-order" data-order_table_uid="@tRow["uid"]">
                    <td style="border-top: none; border-right: none;"></td> <!-- 01 -->
                    <td style="border-top: none;"><input type="checkbox" name="выбрано" data-modified="0" /></td> <!-- 02 -->
                    <td colspan="4">@tRow["товар_описание"]</td> <!-- 03-06 -->
                    <td style="text-align: right" onclick="SupplyViewsF0Index.showTableDetail(this);">@tRow["цена1"]</td> <!-- 07 -->
                    <td style="text-align: right" onclick="SupplyViewsF0Index.showTableDetail(this);">@tRow["количество1", "n0"]</td> <!-- 08 -->
                    <td style="text-align: right" onclick="SupplyViewsF0Index.showTableDetail(this);">@tRow["срок_годности1", "MM.yy"]</td> <!-- 09 -->
                    <td>@tRow["товар_спецификация_менеджер"]</td> <!-- 10 -->
                    <td>@tRow["аукцион_номер"]</td> <!-- 11 -->
                    <td style="text-align: right">@tRow["дата_поставки"]</td> <!-- 12 -->
                    <td onclick="SupplyViewsF0Index.showTableDetail(this);">@tRow["товар_примечание"]</td> <!-- 13 -->
                </tr>
            }
            @{ Model.Data.Таблица.RowFilter = "[parent_uid] is not null"; }
            @for (int hri = 0; hri < Model.Data.Шапка.RowsCount; hri++)
            {
                var hRow = Model.Data.Шапка[hri];
                <tr class="order-info" data-order_head_uid="@hRow["uid"]">
                    @if (hRow["обработано"] == "True")
                    {
                        <td style="border-right: none;">
                            <input type="checkbox" name="обработано" data-modified="0" checked="checked" />
                        </td> <!-- 01 -->
                    }
                    else
                    {
                        <td style="border-right: none;">
                            <input type="checkbox" name="обработано" data-modified="0" />
                        </td> <!-- 01 -->
                    }
                    <td style="text-align: right;">@hRow["id"]</td> <!-- 02 -->
                    <td>
                        @RenderPage("~/Views/F0/TableFieldSelect.cshtml",
                            new { IdFieldName = "поставщик",
                                  IdFieldValue = hRow["поставшик"],
                                  Value = hRow["поставщик_наименование"] })
                    </td> <!-- 03 -->
                    <td onclick="SupplyViewsF0Index.showHeadDetail(this);">@hRow["номер"]</td> <!-- 04 -->
                    <td>
                        @RenderPage("~/Views/F0/TableFieldSelect.cshtml",
                            new { IdFieldName = "состояние",
                                  IdFieldValue = hRow["состояние"],
                                  Value = hRow["состояние_наименование"] })
                    </td> <!-- 05 -->
                    <td colspan="8" onclick="SupplyViewsF0Index.showHeadDetail(this);">@hRow["примечание"]</td> <!-- 06-13 -->
                </tr>
                for (int tri = 0; tri < Model.Data.Таблица.RowsCount; tri++)
                {
                    var tRow = Model.Data.Таблица[tri];
                    <tr class="goods-info in-order" data-order_table_uid="@tRow["uid"]">
                        <td style="border-top: none; border-right: none;"></td> <!-- 01 -->
                        <td style="border-top: none;"><input type="checkbox" name="выбрано" data-modified="0" /></td> <!-- 02 -->
                        <td colspan="4">@tRow["товар_описание"]</td> <!-- 03-06 -->
                        <td style="text-align: right" onclick="SupplyViewsF0Index.showTableDetail(this);">@tRow["цена1"]</td> <!-- 07 -->
                        <td style="text-align: right" onclick="SupplyViewsF0Index.showTableDetail(this);">@tRow["количество1", "n0"]</td> <!-- 08 -->
                        <td style="text-align: right" onclick="SupplyViewsF0Index.showTableDetail(this);">@tRow["срок_годности1", "MM.yy"]</td> <!-- 09 -->
                        <td>@tRow["товар_спецификация_менеджер"]</td> <!-- 10 -->
                        <td>@tRow["аукцион_номер"]</td> <!-- 11 -->
                        <td style="text-align: right">@tRow["дата_поставки"]</td> <!-- 12 -->
                        <td onclick="SupplyViewsF0Index.showTableDetail(this);">@tRow["товар_примечание"]</td> <!-- 13 -->
                    </tr>
                }
            }
            <tr style="border: 1px solid black"></tr>
        </table>
    }
</div>
<script type="text/javascript">
    var SupplyViewsF0Table = (function () {
        let mainDiv = $('#supply_views_f0_table');
        let ordersMode = SupplyViewsF0Filter.getOrdersMode();
        setMode();
        mainDiv.find('input[type="checkbox"]').click(function () {
            $(this).attr('data-modified', '1');
        });
        function setMode() {
            mainDiv.find('tr').each(function (index, element) {
                let tr = $(element);
                tr.show();
                if (ordersMode) {
                    if (tr.hasClass('not-in-order')) tr.hide();
                } else {
                    if (tr.hasClass('order-info')) tr.hide();
                    if (tr.hasClass('in-order')) tr.hide();
                }
            });
        }
        return {
            setOrdersMode: function (mode) {
                ordersMode = mode;
                setMode();
            }
        };
    })();
</script>
