@using FNet.Supply.Models
@model F0Model.ЗаказыУПоставщиковТаблицаЦены.ItemArray
<style type="text/css">
    #supply_views_f0_атрибуты_цены th {
        font-weight: bold;
        padding: 2px;
    }

    #supply_views_f0_атрибуты_цены td {
        padding: 2px;
    }

    #supply_views_f0_атрибуты_цены td:first-child {
        font-weight: bold;
    }
</style>
<div id="supply_views_f0_атрибуты_цены">
    @if (Model == null)
    {
        <span>Нет данных.</span>
    }
    else
    {
        <div><span>@Model["uid"]</span></div>
        <table>
            <tr>
                <th></th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Срок годности</th>
            </tr>
            <tr>
                <td>Требование</td>
                <td><input type="text" value="@Model["цена1"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@Model["количество1"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@Model["срок_годности1"]" style="width: 60px; text-align: right;" /></td>
            </tr>
            <tr>
                <td>Контракт</td>
                <td><input type="text" value="@Model["цена2"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@Model["количество2"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@Model["срок_годности2"]" style="width: 60px; text-align: right;" /></td>
            </tr>
            <tr>
                <td>Договор</td>
                <td><input type="text" value="@Model["цена3"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@Model["количество3"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@Model["срок_годности3"]" style="width: 60px; text-align: right;" /></td>
            </tr>
            <tr>
                <td>Факт</td>
                <td><input type="text" value="@Model["цена4"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@Model["количество4"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@Model["срок_годности4"]" style="width: 60px; text-align: right;" /></td>
            </tr>
        </table>
    }
</div>

