@using System.Data
@model DataTable
<style type="text/css">
    #supply_views_f0_атрибуты_цены th {
        font-weight: bold;
        padding: 2px;
    }

    #supply_views_f0_атрибуты_цены td {
        padding: 2px;
    }

    #supply_views_f0_атрибуты_цены td:first-child {
        font-weight: bold;
    }
</style>
<div id="supply_views_f0_атрибуты_цены">
    @if (Model == null || Model.Rows.Count == 0)
    {
        <span>Нет данных.</span>
    }
    else
    {
        DataRow r = Model.Rows[0];
        <div><span>@r["заказ_у_поставщика_таблица__uid"]</span></div>
        <table>
            <tr>
                <th></th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Срок годности</th>
            </tr>
            <tr>
                <td>Требование</td>
                <td><input type="text" value="@r["цена1"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@r["количество1"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@r["срок1"]" style="width: 60px; text-align: right;" /></td>
            </tr>
            <tr>
                <td>Контракт</td>
                <td><input type="text" value="@r["цена2"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@r["количество2"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@r["срок2"]" style="width: 60px; text-align: right;" /></td>
            </tr>
            <tr>
                <td>Договор</td>
                <td><input type="text" value="@r["цена3"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@r["количество3"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@r["срок3"]" style="width: 60px; text-align: right;" /></td>
            </tr>
            <tr>
                <td>Факт</td>
                <td><input type="text" value="@r["цена4"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@r["количество4"]" style="width: 60px; text-align: right;" /></td>
                <td><input type="text" value="@r["срок4"]" style="width: 60px; text-align: right;" /></td>
            </tr>
        </table>
    }
</div>

